html, body {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

div {
    margin: 0;
    box-sizing: border-box;
}

#picker-wrap {
    width: 5px;
    display: inline-block;
    position: relative;
}

#picker.closeHorz {
    width: 30px;
}

#picker.closeVert {
    height: 0px;
}

#editor {
    width: 30px;
    height: 30px;
    border: 1px solid darkslategray;
    margin-bottom: 4px;
    position: relative;
}

#editor-inner {
    width: 24px;
    height: 24px;
    border: 1px solid darkslategray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#picker {
    font-family: Arial, Tahoma, sans-serif;
    font-weight: 100;
    position: relative;
    width: 320px;
    height: 111px;
    border: 1px solid darkslategray;
    overflow: hidden;
    transition: 1s ease;
}

#hue-wrap, #lum-wrap {
    text-align: center;
    height: 25px;
    margin: 5px 0;
    opacity: 1;
    display: block;
}

#hue-wrap {
    top: 5%
}

#lum-wrap {
    top: 20%;
}

.hue, .lum {
    display: inline-block;
    margin: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px gray;
    transition: .5s ease;
}

.hue.selected {
    transform: scale(1.3, 1.3);
    box-shadow: 0px 3px 3px gray;
}

.lum.selected {
    transform: scale(1.8, 1.8);
    box-shadow: 0px 4px 4px gray;
}

#selected-color {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15px;
    z-index: -1;
}

#selected-color #filter {
    position: absolute;
    left: 100%;
    width: 200%;
    height: 100%;
    transition: .5s ease;
}

#selected-color #filter.trans {
    transform: translateX(-100%);
}

.picker-select {
    /*width: 50%; Use this when advanced option gets added*/
    width: 100%;
    padding: 5px 0;
    text-align: center;
    border: 1px solid black;
    float: left;
    color: white;
    background: linear-gradient(slategray, darkslategray);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.fade {
    opacity: 0;
}

.hide {
    display: none;
}